html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Example of using Parcel with Bootstrap (v3)')
    meta(name='author', content='Kostas Bariotis')
    title Example of using Parcel with Bootstrap (v3)
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            li.active(role='presentation')
              a(href='./index.pug') Home
            li(role='presentation')
              a(href='./about.pug') About
        h3.text-muted Project name
      block content
      footer.footer
        p © 2016 Company, Inc.

    block scripts
      script(src='../js/index.js')
